<h1>Sign In Here</h1>

<form action="/authenticate">
  <label>Email:</label>
  <input type="text" name="email">
  <br>
  <label>Password:</label>
  <input type="password" name="password">
  <br>
  <input type="submit">
</form>
