<!DOCTYPE html>
<html>
<body>

<%if session[:user_id].present? %>

<h3> Create a new ride.</h3>

  <form action="/rides/create" class="form-horizontal" role="form">

    <div class="form-group">
      <label for="origin" required class="col-sm-2 control-label">Origin</label>
        <div class="col-sm-10">
          <select name="origin">
            <option value="Evanston">Evanston</option>
            <option value="Chicago">Chicago</option>
            <option value="O'Hare">O'Hare</option>
            <option value="Midway">Midway</option>
          </select>
        </div>
      </div>

    <div class="form-group">
      <label for="destination" required class="col-sm-2 control-label">Destination</label>
        <div class="col-sm-10">
          <select name="destination">
            <option value="Evanston">Evanston</option>
            <option value="Chicago">Chicago</option>
            <option value="O'Hare">O'Hare</option>
            <option value="Midway">Midway</option>
          </select>
        </div>
      </div>

    <div class="form-group">
      <label for="date" required class="col-sm-2 control-label">Date</label>
      <div class="col-sm-10">
        <input type="date" class="button" name="date" id="date" placeholder="">
      </div>
    </div>

<!-- Departure window reserved for 2nd release -->
<!--     <div class="form-group">
      <label for="departure window" class="col-sm-2 control-label">Departure Window</label>
      <div class="col-sm-10">
        <input type="time" class="button" id="depart_time_1" placeholder="">
        <input type="time" class="button" id="depart_time_2" placeholder="">
      </div>
    </div> -->

    <div class="form-group">
      <label for="depart_time_2" required class="col-sm-2 control-label">Departure By</label>
        <div class="col-sm-10">
          <select name="depart_time_2" id="depart_time_2">
            <option value="12:00 AM">Midnight</option>
            <option value="01:00 AM">1:00 am</option>
            <option value="02:00 AM">2:00 am</option>
            <option value="03:00 AM">3:00 am</option>
            <option value="04:00 AM">4:00 am</option>
            <option value="05:00 AM">5:00 am</option>
            <option value="06:00 AM">6:00 am</option>
            <option value="07:00 AM">7:00 am</option>
            <option value="08:00 AM">8:00 am</option>
            <option value="09:00 AM">9:00 am</option>
            <option value="10:00 AM">10:00 am</option>
            <option value="11:00 AM">11:00 am</option>
            <option value="12:00 PM">Noon</option>
            <option value="01:00 PM">1:00 pm</option>
            <option value="02:00 PM">2:00 pm</option>
            <option value="03:00 PM">3:00 pm</option>
            <option value="04:00 PM">4:00 pm</option>
            <option value="05:00 PM">5:00 pm</option>
            <option value="06:00 PM">6:00 pm</option>
            <option value="07:00 PM">7:00 pm</option>
            <option value="08:00 PM">8:00 pm</option>
            <option value="09:00 PM">9:00 pm</option>
            <option value="10:00 PM">10:00 pm</option>
            <option value="11:00 PM">11:00 pm</option>
          </select>
        </div>
      </div>

    <div class="form-group">
      <label for="comments" required class="col-sm-2 control-label">Comments</label>
      <div class="col-sm-10">
        <input type="text" class="" name="comments" id="comments" placeholder="Let's meet at the Jake...">
      </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2"></label>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Create Ride</button>
      </div>
    </div>

  </form>

<%else%>
Please sign in to create a new ride.
<%end%>

</body>
</html>

